<footer class="[ flow ]" id="skip-to-footer">
    <h2 class="[ angle ]">Details</h2>

    <div class="[ footer-inner-wrapper ]">
      <div class="[ areas ]">
        <h3>Areas</h3>

        <p>
          Off the A106 near the A406 we are in easy reach of Southgate,
          Finchley, Wood Green, Winchmore Hill, Enfield, Golders Green, Barnet
          and absolutely nowhere near Scarborough.
        </p>
      </div>

      <div class="[ footer-contacts ]">
        <h3>Contacts</h3>
        <!-- https://spencermortensen.com/articles/email-obfuscation/#link-url -->
        <ul>
          <li><a href="tel:01234567890">&#9742; 01234 567 890</a></li>
          <li>
            <a
              href="mailto:%69%6e%66%6f%40%63%6f%6f%6c%2d%77%65%62%73%69%74%65%2e%63%6f%6d?subject=Enquiry%20from%20Nathan's%20bistro%20website."
              ><span class="email">
                &#9993; info@nathansbistro<b>.example</b>.com</span
              ></a
            >
          </li>

          <li>
            <a
              href="https://www.google.com/maps/place/London,+UK/@51.5286416,-0.1015987,11z/data=!3m1!4b1!4m6!3m5!1s0x47d8a00baf21de75:0x52963a5addd52a99!8m2!3d51.5072178!4d-0.1275862!16zL20vMDRqcGw?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D"
              ><address>&#9873; 10 Acacia Avenue, London, N13 1RE</address></a
            >
          </li>
        </ul>
      </div>

      <div class="[ opening-hours ]">
        <h3>Opening hours</h3>
        <p>
          Mon to Fri: 6am - 5pm. <br />
          Saturday: 7am - 6pm. <br />
          Sunday: 6am - 5pm.
        </p>
      </div>

      <div class="[ footer-bar ] [ center-me ]">
        <p>
          &copy; 2020 - now &centerdot;
          <a href="/">Privacy and terms</a> &centerdot;
          <a class="[ back-to-top ]" href="#top" aria-label="back to top">
            Back to top ▲</a
          >
        </p>
      </div>
    </div>
  </footer>