<div class="[ top-bar ]">
    <a href="tel:01234567890">&#9742; 01234 567 890</a>
    <!-- https://spencermortensen.com/articles/email-obfuscation/#link-url -->
    <a
      href="mailto:%69%6e%66%6f%40%63%6f%6f%6c%2d%77%65%62%73%69%74%65%2e%63%6f%6d?subject=Enquiry%20from%20Nathan's%20bistro%20website."
      ><span class="email">
        &#9993; info@nathansbistro<b>.example</b>.com</span
      ></a
    >
    <p class="hours">
      <strong>Opening Hours:</strong> Mon to Fri: 6am - 5pm | Sat: 7am - 6pm.
      | Sun: 6am - 5pm
    </p>

    <button
      class="toggle"
      data-theme-toggle
      id="theme-toggle"
      style="display: none"
      type="button"
      aria-label=" light and dark mode switch"
    >
      <img
        class="theme-icon"
        src="/_public/svgs/moon.svg"
        width="25"
        height="25"
        alt="dark and light theme switcher"
      />
    </button>
  </div>
